/* CSS reset */
@import url(https://fonts.googleapis.com/css?family=Raleway);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative; }

.flipped {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg); }

.cont {
  margin: 4rem auto;
  width: 100%;
  max-width: 70rem;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px; }
  @media (min-width: 40.25em) {
    .cont {
      width: 75%; } }
  .cont--flip {
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d; }

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  margin: 0;
  height: 100%;
  width: 100%; }

.front {
  background-color: #ff5470;
  position: absolute;
  z-index: 0; }
  @media (min-width: 75em) {
    .front {
      left: 50%;
      transform: translate(-50%); } }
  .front--btn {
    border: 3px #00ebc7 solid;
    color: #00214d;
    display: block;
    font-size: 2.25rem;
    font-weight: normal;
    max-width: 280px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  position: relative;
  z-index: 1; }
  .back--close {
    width: 4rem;
    position: absolute;
    left: 85%;
    top: 2%;
    cursor: pointer; }
    @media (min-width: 40.25em) {
      .back--close {
        left: 90%; } }

.form {
  background-color: #fde24f;
  padding: 10rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form--container {
    position: relative;
    display: flex;
    flex-direction: column; }
    @media (min-width: 40.25em) {
      .form--container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; } }
  .form--box {
    position: relative; }
    .form--box__basic {
      font-size: 2rem;
      width: 25rem;
      color: #00214d;
      padding: 1rem;
      border: 2px solid transparent; }
      .form--box__basic:focus, .form--box__basic:active {
        border: 2px solid red; }
      .form--box__basic::placeholder {
        color: #00214d; }
    .form--box__required {
      height: 5rem;
      margin: 0 0 2rem 0;
      outline: none;
      -webkit-appearance: none;
      border-style: solid;
      border-width: 0; }
    .form--box__badge {
      width: 3rem;
      visibility: hidden;
      position: absolute;
      left: 85%;
      top: 10%; }
      .form--box__badge svg {
        width: 100%;
        height: auto; }
    .form--box__textarea {
      height: 25rem; }
      @media (min-width: 40.25em) {
        .form--box__textarea {
          width: 85%; } }
  .form--btn {
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    background: #00ebc7;
    color: #00214d;
    padding: 0.5rem 2rem;
    border-radius: 10rem;
    font-size: 1.6rem; }

.red::placeholder {
  color: #ff5470; }
