/* CSS reset */
*, 
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

*:focus{
	outline: none;
}

html{
	font-size: 62.5%;
}


body{
	box-sizing: border-box;
	position: relative;
}

// mobile first design
@mixin breakpoint($breakpoint) {
	@if $breakpoint == small {
		@media (min-width: 37.5em){
			@content;
		}
	}

	@if $breakpoint == medium {
		@media (min-width: 40.25em){
			@content;
		}
	}

	@if $breakpoint == large {
		@media (min-width: 75em){
			@content;
		}
	}

	@if $breakpoint == xlarge {
		@media (min-width: 112.5em){
			@content;
		}
	}
}

@import url(https://fonts.googleapis.com/css?family=Raleway);


// Colors
$background: #fffffe;
$main: #ff5470;
$headline: #00214d;
$button: #00ebc7;
$button_text: #00214d;
$secondary: #fde24f;



// mixins
@mixin transform($degrees) {
	-webkit-transform: rotateX( $degrees + deg);
	-moz-transform: rotateX( $degrees + deg);
	-o-transform: rotateX( $degrees + deg);
	transform: rotateX( $degrees + deg);
}

@mixin backface-visibility() {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

@mixin perspective($pixels) {
	-webkit-perspective: $pixels;
	-moz-perspective: $pixels;
	-o-perspective: $pixels;
	perspective: $pixels;
}

@mixin transition($speed) {
	-webkit-transition: -webkit-transform $speed;
	-moz-transition: -moz-transform $speed;
	-o-transition: -o-transform $speed;
	transition: transform $speed;
}

@mixin transform-style() {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}


.flipped{
	@include transform(180);
}