/* CSS reset */
*, 
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

*:focus{
	outline: none;
}

html{
	font-size: 62.5%;
}


body{
	box-sizing: border-box;
}

// mobile first design
@mixin breakpoint($breakpoint) {
	@if $breakpoint == small {
		@media (min-width: 37.5em){
			@content;
		}
	}

	@if $breakpoint == medium {
		@media (min-width: 56.25em){
			@content;
		}
	}

	@if $breakpoint == large {
		@media (min-width: 75em){
			@content;
		}
	}

	@if $breakpoint == xlarge {
		@media (min-width: 112.5em){
			@content;
		}
	}
}

@import url(https://fonts.googleapis.com/css?family=Raleway);


// Colors
$background: #fffffe;
$main: #ff5470;
$button: #00ebc7;
$button_text: #00214d;



// mixins
@mixin transform($degrees) {
	-webkit-transform: rotateX( $degrees + deg);
	-moz-transform: rotateX( $degrees + deg);
	-o-transform: rotateX( $degrees + deg);
	transform: rotateX( $degrees + deg);
}

@mixin backface-visibility() {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
