
.cont{

	margin: 4rem auto;
	width: 100%;
	max-width: 70rem;
	@include perspective(800px);

	@include breakpoint(medium){
		width: 75%;
	}

	&--flip{
		@include transition(.5s);
		@include transform-style();
	}
}

.front, .back{
	@include backface-visibility;
	display: block;
	margin: 0;
	height: 100%;
	width: 100%;
}

.front{
	background-color: $main;
    position: absolute;
	z-index: 0;
	
	@include breakpoint(large){
		left: 50%;
		transform: translate(-50%);
	}

	&--btn{
		border: 3px $button solid;
		color: $button_text;
		display: block;
		font-size: 2.25rem;
		font-weight: normal;
		max-width: 280px;
		padding: 15px 0;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.back{
	@include transform(180);
	position: relative;
	z-index: 1;

	&--close{
		width: 4rem;
		position: absolute;
		left: 85%;
		top: 2%;
		cursor: pointer;

		@include breakpoint(medium){
			left: 90%;
		}
	}
}