.form{

	&--container{
		display: flex;
		flex-direction: column;
	}

	&--box{
		position: relative;
		display: flex;

		// fontsizes etc
		&__basic{
			font-size: 2rem;
		}

		&__required{
			color: red;
		}

		&__badge{
			width: 3rem;
			margin: 0 0 0 1rem;
			display: none;

			svg{
				width: 100%;
				height: auto;
			}
		}
	}
}
